body {
	margin: 0;
}

#footer {
	background-color: #222222;
	border-top: 0.5px;
	border-top-color: #4f4f4f;
	position: absolute;
	width: 100vw;
	height: 10vh;
	color: white;
	
}

#footer > a {
	color: #fff;
}

a {
	background: 0 0;
	text-decoration: none;
}

a:visited {
    text-decoration: none;
	color: white;
}

a:link {
    text-decoration: none;
	color: white;
}

a:hover {
    text-decoration: underline;
}

#content {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 90vh;
	width: 100vw;
}

#controls {
	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 90vh;
	width: 40vw;
}

#info {
	display:flex;
	flex-direction: column;
	height: 90vh;
	background-color: #202020;
	width: 60vw;
}

#imgdisplay {
	height: 40vh;
	background-color: #202020;
	width: 40vw;
}

#information {
	height: 50vh;
	background-color: #202020;
	width: 40vw;
	text-align: center;
	color; white;
}



#options {
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
	background-color: #b8eff0;
}



#inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 60%;
	background-color: #b8eff0;
}

#sbutton {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: #e59025; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

}

#inputs > input[type="text"] {
	background-color: #F6DFB3;
	text-align: center;
	font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.75rem;
	color: #5c5b5a;
	border: none;
    width: 200px;
    height: 40px;
    padding-right: 50px;
}

#inputs > #sbutton {
    margin-left: -50px;
    width: 50px;
	outline:none;
}

p {
	margin: 30px 0 11px;
}

#text-center {
	text-align: center;
	font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
}


